*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#homepage{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  color: rgba(50,110,160,1)
}


.posi{
  position: relative;
  border-radius: 15px;
  min-width: 80%;
  min-height: 550px;

}

.glass{
  background: linear-gradient(to right bottom,rgba(230,230,255,0.6),rgba(230, 230, 255, 0.4),rgba(230,230, 255, 0.2));
  backdrop-filter:blur(12px);
  position: relative;
  min-width: 80%;
  min-height: 550px;
  border-radius: 15px;
  border-top: solid 1.3px rgba(230,230,255,0.72);
  border-left: solid 1.3px rgba(230,230,255,0.72);
  box-shadow:3px 15px 50px rgb(20,20,20,0.25);

}

body{
  display:flex;
  justify-content:center;
  align-items: center;
  background: linear-gradient(25deg, rgba(204,124,197,0.4718) 0%, rgba(202,163,217,1) 16%, rgba(161,153,215,0.8) 46%, rgba(114,176,225,0.9) 100%);
   min-height: 100vh;
   min-width: 100vh;
}



/* 紫 */
.ha{
  position: absolute;
  top:-40px;
  right:-60px;
  z-index: -10;
  width:180px;
  height: 180px;
  background:#9B72AA;
  border-radius: 100%;

}
/* 蓝 */
.hu{
  position: absolute;
  top:460px;
  left:-56px;
  z-index: -10;
  width:129px;
  height: 129px;
  background: #3E56AB ;
  border-radius: 100%;

}



.glass #people{
  position: absolute;
  top:50px;
  left:50px;
  font:900 100px "";
  color: rgb(19, 44, 119);
  text-shadow: 1px 1px 3px rgba(120,100,250);
}


.glass p{
position: absolute;
top:180px;
left:80px;
font:500 25px "Verdana";
color: rgb(19, 44, 119);
text-shadow: 1px 1px 3px rgba(120,100,250,0.7);
}
.line{
  position: absolute;
  top:210px;
  left:45px;
  width: 270px;
  height: 10px;
  background: rgb(40, 64, 139);
}

#level{
  position: relative;
  top:-10px;
  left:-37px;
}

.glass #under{
  position: absolute;
  top:300px;
  left:46px;
  font:500 30px "";
  color: rgb(19, 44, 119);
  text-shadow: 1px 1px 3px rgba(120,100,250);
}
